In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://postgres:password@localhost/HDI vs WHR')
conn = engine.connect()

In [3]:
data_df=pd.read_csv("../../1-Extract/Raw data/Scraped Data/Education Index.csv")

In [4]:
data_df

,Unnamed: 0,HDI Rank,Country,1990,Unnamed: 4,1991,Unnamed: 6,1992,Unnamed: 8,1993,...,2014,Unnamed: 52,2015,Unnamed: 54,2016,Unnamed: 56,2017,Unnamed: 58,2018,Unnamed: 60
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,170.0,Afghanistan,0.122,NaN,0.133,NaN,0.145,NaN,0.156,...,0.403,NaN,0.405,NaN,0.406,NaN,0.408,NaN,0.413,NaN
2,3,69.0,Albania,0.584,NaN,0.589,NaN,0.558,NaN,0.543,...,0.774,NaN,0.770,NaN,0.761,NaN,0.758,NaN,0.758,NaN
3,4,82.0,Algeria,0.385,NaN,0.395,NaN,0.405,NaN,0.414,...,0.662,NaN,0.663,NaN,0.668,NaN,0.674,NaN,0.675,NaN
4,5,36.0,Andorra,..,NaN,..,NaN,..,NaN,..,...,0.715,NaN,0.704,NaN,0.708,NaN,0.701,NaN,0.708,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,204,NaN,Least Developed Countries,0.223,NaN,0.228,NaN,0.233,NaN,0.239,...,0.411,NaN,0.419,NaN,0.424,NaN,0.430,NaN,0.431,NaN
204,205,NaN,Small Island Developing States,0.466,NaN,0.471,NaN,0.477,NaN,0.483,...,0.615,NaN,0.621,NaN,0.624,NaN,0.628,NaN,0.627,NaN
205,206,NaN,Organization for Economic Co-operation and Dev...,0.679,NaN,0.688,NaN,0.681,NaN,0.709,...,0.841,NaN,0.846,NaN,0.850,NaN,0.851,NaN,0.852,NaN
206,207,NaN,World,0.450,NaN,0.456,NaN,0.456,NaN,0.469,...,0.620,NaN,0.626,NaN,0.631,NaN,0.633,NaN,0.633,NaN
207,208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data_df.drop(data_df.columns[data_df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
data_df

,HDI Rank,Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,170.0,Afghanistan,0.122,0.133,0.145,0.156,0.168,0.179,0.190,0.202,...,0.352,0.372,0.374,0.390,0.398,0.403,0.405,0.406,0.408,0.413
2,69.0,Albania,0.584,0.589,0.558,0.543,0.542,0.551,0.558,0.571,...,0.652,0.673,0.715,0.743,0.763,0.774,0.770,0.761,0.758,0.758
3,82.0,Algeria,0.385,0.395,0.405,0.414,0.424,0.431,0.443,0.458,...,0.608,0.626,0.644,0.639,0.659,0.662,0.663,0.668,0.674,0.675
4,36.0,Andorra,..,..,..,..,..,..,..,..,...,0.661,0.662,0.663,0.715,0.705,0.715,0.704,0.708,0.701,0.708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,NaN,Least Developed Countries,0.223,0.228,0.233,0.239,0.244,0.251,0.259,0.268,...,0.377,0.388,0.396,0.403,0.408,0.411,0.419,0.424,0.430,0.431
204,NaN,Small Island Developing States,0.466,0.471,0.477,0.483,0.485,0.492,0.500,0.506,...,0.601,0.607,0.613,0.604,0.609,0.615,0.621,0.624,0.628,0.627
205,NaN,Organization for Economic Co-operation and Dev...,0.679,0.688,0.681,0.709,0.720,0.729,0.735,0.728,...,0.811,0.818,0.824,0.828,0.835,0.841,0.846,0.850,0.851,0.852
206,NaN,World,0.450,0.456,0.456,0.469,0.474,0.482,0.490,0.490,...,0.585,0.592,0.600,0.607,0.614,0.620,0.626,0.631,0.633,0.633
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
clean_df = (data_df.drop(data_df.iloc[:, 2:22], axis = 1).dropna(0))
clean_df

,HDI Rank,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,170.0,Afghanistan,0.372,0.374,0.390,0.398,0.403,0.405,0.406,0.408,0.413
2,69.0,Albania,0.673,0.715,0.743,0.763,0.774,0.770,0.761,0.758,0.758
3,82.0,Algeria,0.626,0.644,0.639,0.659,0.662,0.663,0.668,0.674,0.675
4,36.0,Andorra,0.662,0.663,0.715,0.705,0.715,0.704,0.708,0.701,0.708
5,149.0,Angola,0.398,0.423,0.435,0.447,0.460,0.472,0.487,0.498,0.498
...,...,...,...,...,...,...,...,...,...,...,...
185,96.0,Venezuela (Bolivarian Republic of),0.674,0.705,0.708,0.724,0.725,0.724,0.722,0.700,0.700
186,118.0,Viet Nam,0.583,0.602,0.608,0.614,0.613,0.619,0.621,0.626,0.626
187,177.0,Yemen,0.325,0.343,0.335,0.345,0.343,0.342,0.341,0.341,0.347
188,143.0,Zambia,0.526,0.526,0.529,0.532,0.530,0.532,0.552,0.572,0.572
189,150.0,Zimbabwe,0.523,0.526,0.549,0.550,0.557,0.563,0.567,0.568,0.568

In [7]:
del clean_df['HDI Rank']
clean_df

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,Afghanistan,0.372,0.374,0.390,0.398,0.403,0.405,0.406,0.408,0.413
2,Albania,0.673,0.715,0.743,0.763,0.774,0.770,0.761,0.758,0.758
3,Algeria,0.626,0.644,0.639,0.659,0.662,0.663,0.668,0.674,0.675
4,Andorra,0.662,0.663,0.715,0.705,0.715,0.704,0.708,0.701,0.708
5,Angola,0.398,0.423,0.435,0.447,0.460,0.472,0.487,0.498,0.498
...,...,...,...,...,...,...,...,...,...,...
185,Venezuela (Bolivarian Republic of),0.674,0.705,0.708,0.724,0.725,0.724,0.722,0.700,0.700
186,Viet Nam,0.583,0.602,0.608,0.614,0.613,0.619,0.621,0.626,0.626
187,Yemen,0.325,0.343,0.335,0.345,0.343,0.342,0.341,0.341,0.347
188,Zambia,0.526,0.526,0.529,0.532,0.530,0.532,0.552,0.572,0.572
189,Zimbabwe,0.523,0.526,0.549,0.550,0.557,0.563,0.567,0.568,0.568

In [8]:
clean_df.to_csv("../Cleaned/Education Index.csv")

In [9]:
clean_df.to_sql(
    name='Education Index',
    con=engine,
    index=False
)