In [1]:
import pandas as pd

In [2]:
data_df=pd.read_csv("Human Development Index (HDI).csv")

In [3]:
data_df

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.298,0.304,0.312,0.308,0.303,0.327,0.331,0.335,...,0.447,0.464,0.465,0.479,0.485,0.488,0.49,0.491,0.493,0.496
1,69,Albania,0.644,0.625,0.608,0.611,0.617,0.629,0.639,0.639,...,0.729,0.74,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,82,Algeria,0.578,0.582,0.589,0.593,0.597,0.602,0.61,0.619,...,0.72,0.73,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,36,Andorra,..,..,..,..,..,..,..,..,...,0.83,0.828,0.827,0.849,0.846,0.853,0.85,0.854,0.852,0.857
4,149,Angola,..,..,..,..,..,..,..,..,...,0.508,0.51,0.525,0.537,0.547,0.557,0.565,0.57,0.576,0.574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,,Sub-Saharan Africa,0.402,0.404,0.404,0.406,0.407,0.411,0.415,0.418,...,0.494,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541
208,,Least Developed Countries,0.35,0.353,0.354,0.358,0.358,0.366,0.374,0.381,...,0.477,0.485,0.493,0.499,0.504,0.51,0.516,0.52,0.525,0.528
209,,Small Island Developing States,0.595,0.598,0.603,0.608,0.612,0.618,0.624,0.629,...,0.694,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723
210,,Organization for Economic Co-operation and Dev...,0.785,0.79,0.788,0.8,0.807,0.812,0.817,0.817,...,0.868,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895
211,,World,0.598,0.601,0.601,0.608,0.611,0.617,0.622,0.624,...,0.691,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731

In [4]:
# data_df.drop(data_df.columns[data_df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
# data_df

In [5]:
# data_df.drop(data_df.iloc[:, 1:54], axis = 1)

In [6]:
clean_df = data_df.drop(data_df.iloc[:, 2:22], axis = 1)
clean_df

,HDI Rank (2018),Country,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.464,0.465,0.479,0.485,0.488,0.49,0.491,0.493,0.496
1,69,Albania,0.74,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,82,Algeria,0.73,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,36,Andorra,0.828,0.827,0.849,0.846,0.853,0.85,0.854,0.852,0.857
4,149,Angola,0.51,0.525,0.537,0.547,0.557,0.565,0.57,0.576,0.574
...,...,...,...,...,...,...,...,...,...,...,...
207,,Sub-Saharan Africa,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541
208,,Least Developed Countries,0.485,0.493,0.499,0.504,0.51,0.516,0.52,0.525,0.528
209,,Small Island Developing States,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723
210,,Organization for Economic Co-operation and Dev...,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895
211,,World,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731

In [7]:
clean_df.fillna(0)

,HDI Rank (2018),Country,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.464,0.465,0.479,0.485,0.488,0.49,0.491,0.493,0.496
1,69,Albania,0.74,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,82,Algeria,0.73,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,36,Andorra,0.828,0.827,0.849,0.846,0.853,0.85,0.854,0.852,0.857
4,149,Angola,0.51,0.525,0.537,0.547,0.557,0.565,0.57,0.576,0.574
...,...,...,...,...,...,...,...,...,...,...,...
207,,Sub-Saharan Africa,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541
208,,Least Developed Countries,0.485,0.493,0.499,0.504,0.51,0.516,0.52,0.525,0.528
209,,Small Island Developing States,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723
210,,Organization for Economic Co-operation and Dev...,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895
211,,World,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731

In [8]:
del clean_df['HDI Rank (2018)']
clean_df

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,0.464,0.465,0.479,0.485,0.488,0.49,0.491,0.493,0.496
1,Albania,0.74,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
2,Algeria,0.73,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
3,Andorra,0.828,0.827,0.849,0.846,0.853,0.85,0.854,0.852,0.857
4,Angola,0.51,0.525,0.537,0.547,0.557,0.565,0.57,0.576,0.574
...,...,...,...,...,...,...,...,...,...,...
207,Sub-Saharan Africa,0.498,0.505,0.512,0.521,0.527,0.532,0.535,0.539,0.541
208,Least Developed Countries,0.485,0.493,0.499,0.504,0.51,0.516,0.52,0.525,0.528
209,Small Island Developing States,0.702,0.706,0.704,0.708,0.712,0.717,0.719,0.722,0.723
210,Organization for Economic Co-operation and Dev...,0.873,0.877,0.879,0.883,0.886,0.889,0.892,0.894,0.895
211,World,0.697,0.703,0.708,0.713,0.718,0.722,0.727,0.729,0.731

In [9]:
clean_df.to_csv("./Clean/Human Development Index.csv")