In [9]:
import pandas as pd

In [10]:
data_df=pd.read_csv("Income Index.csv")

In [11]:
data_df

,HDI Rank (2018),Country,1990,Unnamed: 3,1991,Unnamed: 5,1992,Unnamed: 7,1993,Unnamed: 9,...,Unnamed: 49,2014,Unnamed: 51,2015,Unnamed: 53,2016,Unnamed: 55,2017,Unnamed: 57,2018
0,170,Afghanistan,0.466,NaN,0.44,NaN,0.431,NaN,0.376,NaN,...,NaN,0.436,NaN,0.435,NaN,0.434,NaN,0.434,NaN,0.432
1,69,Albania,0.572,NaN,0.521,NaN,0.506,NaN,0.526,NaN,...,NaN,0.707,NaN,0.711,NaN,0.717,NaN,0.721,NaN,0.727
2,82,Algeria,0.695,NaN,0.687,NaN,0.687,NaN,0.683,NaN,...,NaN,0.737,NaN,0.739,NaN,0.745,NaN,0.743,NaN,0.743
3,36,Andorra,0.936,NaN,0.934,NaN,0.929,NaN,0.923,NaN,...,NaN,0.92,NaN,0.924,NaN,0.928,NaN,0.931,NaN,0.935
4,149,Angola,0.562,NaN,0.576,NaN,0.431,NaN,0.428,NaN,...,NaN,0.63,NaN,0.629,NaN,0.62,NaN,0.617,NaN,0.607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,,Sub-Saharan Africa,0.494,NaN,0.491,NaN,0.483,NaN,0.478,NaN,...,NaN,0.536,NaN,0.537,NaN,0.536,NaN,0.535,NaN,0.535
204,,Least Developed Countries,0.395,NaN,0.392,NaN,0.383,NaN,0.382,NaN,...,NaN,0.481,NaN,0.485,NaN,0.487,NaN,0.49,NaN,0.494
205,,Small Island Developing States,0.64,NaN,0.642,NaN,0.646,NaN,0.65,NaN,...,NaN,0.747,NaN,0.751,NaN,0.752,NaN,0.753,NaN,0.755
206,,Organization for Economic Co-operation and Dev...,0.846,NaN,0.846,NaN,0.848,NaN,0.849,NaN,...,NaN,0.898,NaN,0.9,NaN,0.902,NaN,0.905,NaN,0.907
207,,World,0.679,NaN,0.678,NaN,0.677,NaN,0.677,NaN,...,NaN,0.751,NaN,0.754,NaN,0.757,NaN,0.761,NaN,0.764

In [12]:
data_df.drop(data_df.columns[data_df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
data_df

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.466,0.44,0.431,0.376,0.328,0.381,0.366,0.354,...,0.409,0.426,0.421,0.435,0.438,0.436,0.435,0.434,0.434,0.432
1,69,Albania,0.572,0.521,0.506,0.526,0.541,0.563,0.578,0.561,...,0.686,0.693,0.699,0.7,0.705,0.707,0.711,0.717,0.721,0.727
2,82,Algeria,0.695,0.687,0.687,0.683,0.677,0.678,0.681,0.681,...,0.731,0.735,0.734,0.734,0.735,0.737,0.739,0.745,0.743,0.743
3,36,Andorra,0.936,0.934,0.929,0.923,0.922,0.923,0.929,0.942,...,0.924,0.916,0.91,0.91,0.914,0.92,0.924,0.928,0.931,0.935
4,149,Angola,0.562,0.576,0.431,0.428,0.388,0.506,0.505,0.53,...,0.615,0.614,0.613,0.622,0.626,0.63,0.629,0.62,0.617,0.607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,,Sub-Saharan Africa,0.494,0.491,0.483,0.478,0.473,0.476,0.479,0.481,...,0.517,0.521,0.524,0.527,0.531,0.536,0.537,0.536,0.535,0.535
204,,Least Developed Countries,0.395,0.392,0.383,0.382,0.372,0.381,0.387,0.392,...,0.458,0.462,0.467,0.472,0.474,0.481,0.485,0.487,0.49,0.494
205,,Small Island Developing States,0.64,0.642,0.646,0.65,0.656,0.663,0.669,0.676,...,0.723,0.737,0.739,0.742,0.745,0.747,0.751,0.752,0.753,0.755
206,,Organization for Economic Co-operation and Dev...,0.846,0.846,0.848,0.849,0.852,0.855,0.858,0.863,...,0.887,0.891,0.893,0.894,0.896,0.898,0.9,0.902,0.905,0.907
207,,World,0.679,0.678,0.677,0.677,0.679,0.682,0.686,0.689,...,0.731,0.736,0.74,0.744,0.747,0.751,0.754,0.757,0.761,0.764

In [13]:
clean_df = data_df.drop(data_df.iloc[:, 2:22], axis = 1)
clean_df

,HDI Rank (2018),Country,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.426,0.421,0.435,0.438,0.436,0.435,0.434,0.434,0.432
1,69,Albania,0.693,0.699,0.7,0.705,0.707,0.711,0.717,0.721,0.727
2,82,Algeria,0.735,0.734,0.734,0.735,0.737,0.739,0.745,0.743,0.743
3,36,Andorra,0.916,0.91,0.91,0.914,0.92,0.924,0.928,0.931,0.935
4,149,Angola,0.614,0.613,0.622,0.626,0.63,0.629,0.62,0.617,0.607
...,...,...,...,...,...,...,...,...,...,...,...
203,,Sub-Saharan Africa,0.521,0.524,0.527,0.531,0.536,0.537,0.536,0.535,0.535
204,,Least Developed Countries,0.462,0.467,0.472,0.474,0.481,0.485,0.487,0.49,0.494
205,,Small Island Developing States,0.737,0.739,0.742,0.745,0.747,0.751,0.752,0.753,0.755
206,,Organization for Economic Co-operation and Dev...,0.891,0.893,0.894,0.896,0.898,0.9,0.902,0.905,0.907
207,,World,0.736,0.74,0.744,0.747,0.751,0.754,0.757,0.761,0.764

In [14]:
clean_df.fillna(0)

,HDI Rank (2018),Country,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,170,Afghanistan,0.426,0.421,0.435,0.438,0.436,0.435,0.434,0.434,0.432
1,69,Albania,0.693,0.699,0.7,0.705,0.707,0.711,0.717,0.721,0.727
2,82,Algeria,0.735,0.734,0.734,0.735,0.737,0.739,0.745,0.743,0.743
3,36,Andorra,0.916,0.91,0.91,0.914,0.92,0.924,0.928,0.931,0.935
4,149,Angola,0.614,0.613,0.622,0.626,0.63,0.629,0.62,0.617,0.607
...,...,...,...,...,...,...,...,...,...,...,...
203,,Sub-Saharan Africa,0.521,0.524,0.527,0.531,0.536,0.537,0.536,0.535,0.535
204,,Least Developed Countries,0.462,0.467,0.472,0.474,0.481,0.485,0.487,0.49,0.494
205,,Small Island Developing States,0.737,0.739,0.742,0.745,0.747,0.751,0.752,0.753,0.755
206,,Organization for Economic Co-operation and Dev...,0.891,0.893,0.894,0.896,0.898,0.9,0.902,0.905,0.907
207,,World,0.736,0.74,0.744,0.747,0.751,0.754,0.757,0.761,0.764

In [15]:
del clean_df['HDI Rank (2018)']
clean_df

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,0.426,0.421,0.435,0.438,0.436,0.435,0.434,0.434,0.432
1,Albania,0.693,0.699,0.7,0.705,0.707,0.711,0.717,0.721,0.727
2,Algeria,0.735,0.734,0.734,0.735,0.737,0.739,0.745,0.743,0.743
3,Andorra,0.916,0.91,0.91,0.914,0.92,0.924,0.928,0.931,0.935
4,Angola,0.614,0.613,0.622,0.626,0.63,0.629,0.62,0.617,0.607
...,...,...,...,...,...,...,...,...,...,...
203,Sub-Saharan Africa,0.521,0.524,0.527,0.531,0.536,0.537,0.536,0.535,0.535
204,Least Developed Countries,0.462,0.467,0.472,0.474,0.481,0.485,0.487,0.49,0.494
205,Small Island Developing States,0.737,0.739,0.742,0.745,0.747,0.751,0.752,0.753,0.755
206,Organization for Economic Co-operation and Dev...,0.891,0.893,0.894,0.896,0.898,0.9,0.902,0.905,0.907
207,World,0.736,0.74,0.744,0.747,0.751,0.754,0.757,0.761,0.764

In [16]:
clean_df.to_csv("./Clean/Life expectancy Index.csv")